{% extends "base.html" %}


{% block content %}

<form action="{{ url_for('create') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="card">
                <div class="card-header">Écrire un post</div>
                <div class="card-body">
                    <form action="" method="POST">
                        {{ form.title.label }} 
                        {{ form.title(class_="form-control")}}
                        {{form.body.label}}
                        {{ form.body(class_="form-control") }}
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
</form>
    {% endblock %}


