{% extends "base.html" %}


{% block content %}
<form actrion="" > 
    {{ form.hidden_tag() }}

    <div class="card">
        <div class="card-header">Le post à été supprimé </div>
    </div>
</form>
{% endblock %}
