{% extends "base.html" %}


{% block content %}
<form>
    {{ form.hidden_tag() }}
    <div class="card">
        <div class="card-header">Editer un article </div>
        <div class="card-body">
            <form action="" method="POST">
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class_="form-control") }}
                    {{ form.body.label }}
                    {{ form.body(class_="form-control") }}
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-secondary">Valider</button>
                </div>
            </form>
        </div>
    </div>
</form>
{% endblock %}