{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        
        <div class="card mb-2">
            <div class="card-header">{{ post.title }}
                {% if current_user.is_authenticated %}
                    {%if current_user.id == post.user.id %}
                    <div class="text-right">
                    <a href="{{ url_for('edit', id = post.id) }}" class="btn btn-secondary">Édit</a>
                    <a href="{{ url_for('delete',id = post.id) }}" class="btn btn-secondary">Supprimer</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-body">{{ post.body }}</div>
            <div class="card-footer text-muted text-right"><small>Par {{ post.user.username }} le {{ post.creation_date.strftime('%d/%m/%Y à %H:%M') }}</small></div>
        </div>
        
    {% endfor %}
{% endblock %}