<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="{{ url_for('index') }}" class="navbar-brand">Microlly</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Alterner l'affichage du menu principal">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav">
                        <a href="{{ url_for('index') }}" class="nav-link">Accueil</a>
                        
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}" class="nav-link">Deconnexion</a>
                        {% endif %}

                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('login') }}" class="nav-link">Connexion</a>
                        {% endif %}
                        
                        <a href="{{ url_for('register') }}" class="nav-link">Inscription</a>
                        <a href="{{ url_for('create') }}" class="nav-link">Post</a>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container my-2">
            {% block content %}{% endblock %}
        </main>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>