{% extends "base.html" %}


{% block content %}
    <form action="{{ url_for('register') }}" method="POST">
        {{ form.hidden_tag() }}

        <div class="card">
                <div class="card-header">Inscription</div>
                <div class="card-body">
                    <form action="" method="POST">
                        {{ form.first_name.label }} 
                        {{ form.first_name(class_="form-control")}}
                        {{ form.last_name.label }} 
                        {{ form.last_name(class_="form-control")}}
                        {{ form.email.label }} 
                        {{ form.email(class_="form-control")}}  
                        {{ form.password.label }} 
                        {{ form.password(class_="form-control")}}
                        {{ form.confirm_pass.label }} 
                        {{ form.confirm_pass(class_="form-control")}}
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
    </form>
{% endblock %}